{% extends 'syllabuses/base.html' %}

{% block content %}
<style>
  input, textarea, select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

</style>
<div class="container">
  <br/>
  <h2>Шаг 3.5</h2><br/>
  Заполните информацию о Результатах обучения
  <br/>
  <form method="post" id="lo-form">
      {% csrf_token %}
      <table>
        <tr>
            <th>Результаты обучения курса (РО курса)</th>
            <th>Результаты обучения образовательной программы (РО ОП)</th>
        </tr>
        <tr>
            <td><textarea class="form-input" name="lo" value="{{lo11.info}}"></textarea></td>
            <td><textarea class="form-input" name="lo2" value="{{lo22.info}}"></textarea></td>
        </tr>
      </table>
      <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
  

<br/>
<a href="{% url 'next_step' syllabus.id %}" class="btn btn-primary btn-lg">Назад</a>
<a href="{% url 'add_module' syllabus.id %}" class="btn btn-primary btn-lg">Далее</a>
</div>
<script>
  // Select all textarea elements on the page
  const textareas = document.querySelectorAll('textarea');

  // Add event listener for each textarea to resize as the user types
  textareas.forEach(textarea => {
    textarea.addEventListener('input', function() {
      this.style.height = 'auto';
      this.style.height = (this.scrollHeight) + 'px';
    });
  });
</script>

{% endblock %}
